body{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: whitesmoke;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    "v p u t r"
    "v m m m m"
    "v m m m m";
    align-items: center;
    justify-items: center;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    grid-gap:1em;
    border-radius: 25px;
}

button{
    padding-bottom: 5px;
    border: none;
    background: none;
}

.votes{
    grid-area: v;
    /* border-style: solid; */
    margin-left: 10px;
    background: whitesmoke;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
}

.profile-img{
    grid-area: p;
    /* border-style: solid; */
    justify-self: left;
    margin-left: 5%;
    margin-right: 5%;
    /* width: 50px; */
    padding-top: 10%;
}

.username{
    grid-area: u;
    /* border-style: solid; */
    justify-self: left;
    font-weight: 500;
    padding-top: 10%;
}

.timestamp{
    grid-area: t;
    /* border-style: solid; */
    justify-self: left;
    color: grey;
    padding-top: 10%;
}

.message{
    grid-area: m;
    /* border-style: solid; */
    margin-right: 5%;
    margin-left: 10p;
    font-size: 16px;
    color: grey;
}

.reply{
    /* font-family: 'Font Awesome 5 Free'; */
    justify-self: right;
    margin-right: 5%;
    padding-top: 10%;
}