body{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: whitesmoke;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    "v p u t r"
    "v m m m m"
    "v m m m m";
    grid-template-rows: 20%, 40%, 40%;
    grid-template-columns: 15%, 10%, 15%, 15%, 30%, 15%;
    align-items: center;
    justify-items: center;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    grid-gap:1em;
    border-radius: 25px;
}

#input-container{
    display: grid;
    /* grid-template-columns: 30px, 30px, 30px;
    grid-template-rows: auto; */
    grid-template-areas: 
    "lpi ui si"
    ". ui .";
    align-items: center;
    justify-items: center;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-gap:1em;
    border-radius: 25px;
    /* justify-content: space-around; */
}

button{
    padding-bottom: 10px;
    border: none;
    background: none;
    color: hsl(238, 40%, 52%);
    font-weight: 600;
    font-size: 1em;
    border-radius: 20px;
}

button:hover{
    background-color: grey;
    animation: infinite;
}

.votes{
    grid-area: v;
    /* border-style: solid; */
    margin-left: 20px;
    background: whitesmoke;
    padding: 7px;
    text-align: center;
    border-radius: 20px;
    color: hsl(238, 40%, 52%);
    font-weight: 500;
}

.profile-img{
    grid-area: p;
    /* border-style: solid; */
    justify-self: left;
    margin-left: 5%;
    max-width: 3em;
    padding-top: 10%;
    width: 100%;
    margin: auto;
}

.username{
    grid-area: u;
    /* border-style: solid; */
    justify-self: left;
    font-weight: 500;
    padding-top: 10%;
    width: 100%;
    margin: auto;
}

.timestamp{
    grid-area: t;
    /* border-style: solid; */
    justify-self: left;
    color: grey;
    padding-top: 10%;
    width: 100%;
    margin: auto;
    /* padding-right: 4em; */
    align-self: start;
}

.message{
    grid-area: m;
    margin-right: 5%;
    margin-left: 10p;
    font-size: 16px;
    color: grey;
}

.reply{
    justify-self: right;
    margin-left: 10em;
    margin-top: 2em;
    /* margin: auto; */
    /* margin-right: 5%; */
}

.at {
    color: hsl(238, 40%, 52%);
    font-weight: 500;
}

.you{
    background-color: hsl(238, 40%, 52%);
    color: whitesmoke;
    /* margin-left: .5em;
    padding-right: .5em;
    padding-left: .5em; */
    /* padding-top: .2em;
    padding-bottom: .2em; */
    border-radius: 5%;
    font-weight: 300;
    margin: 0;
    padding: 0;
    height: 1.5em;
    /* width: 100%;
    margin: auto; */
    align-self: start;
    display: inline-block;
}

.profile-info{
    display: flex;
    column-gap: 2em;
}

.response-thread{
    margin-left: 2em;
    padding-left: 2em;
    border-left-style: solid;
    border-left-color: hsl(223, 19%, 93%)
}

.delete{
    justify-self: right;
    margin-left: 10em;
    margin-top: 2em;
}
.edit{
    margin-top: 2em;
}

#last-profile-img{
    /* grid-column: 1; */
    grid-area: lpi;
    align-self: left;
    /* border-style: solid; */
    justify-self: left;
    margin-left: 5%;
    max-width: 3em;
    width: 100%;
    margin: auto;
}

#user-input{
    width: 100%;
    /* grid-column: 2; */
    grid-area: ui;
    height: 5em;
    font-family: Rubik;
    text-align: justify;
    /* width: 300%; */
}

#send-input{
    /* grid-column: 3; */
    grid-area: si;
}
